@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  width: 100%;
  height: 80vh;
  background-color: whitesmoke;
  overflow: hidden;
}

.zoom {
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

.zoom:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

/*     début du header     */
header {
  margin: 0px auto;
}

nav {
  background-color: lightgrey;
  width: 100%;
  height: 76px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 5px solid black;
}

nav .container {
  margin: 0% auto;
  padding-left: 15px;
  padding-right: 15px;
}

nav .container .links ul {
  list-style: none;
}

nav .container .links ul li {
  display: inline-block;
  /*float:left;*/
  padding: 10px;
  font-size: 18px;
}

nav .container .links ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

nav .container .links ul li a:hover {
  color: black;
}

nav .container #logo {
  margin: 20px 0 20px 0px;
  font-family: sans-serif;
  font-size: 30px;
  cursor: pointer;
  color: black;
  float: left;
  height: 45px;
  display: block;
}

nav .container #logo:hover {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

nav .container .links {
  float: right;
  padding: 18px;
}

nav .container .links a .toggle {
  display: none;
}

nav .container .links a #menu-icon {
  display: hidden;
  width: 40px;
  height: 40px;
}

nav .container .links a .toggle > span {
  display: block;
  border-radius: 20px;
  height: 5px;
  width: 34px;
  background: black;
  margin: auto;
  margin-bottom: 3px;
}

/*     fin du header     */
/*     début du main     */
main {
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .accueil {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  background: url("https://cdn.pixabay.com/photo/2014/05/03/00/42/photography-336608_960_720.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-filter: sepia(90%);
          filter: sepia(90%);
  -webkit-filter: contrast(70%);
          filter: contrast(70%);
}

main .accueil .accueil__title {
  margin: 85px auto 20px;
  text-align: center;
  color: black;
  background-color: rgba(255, 250, 250, 0.5);
  border-radius: 25px;
  font-size: 2.3rem;
}

main .accueil .accueil__description {
  text-align: center;
  color: black;
  margin: 20px auto;
  font-size: 1.2rem;
  background-color: rgba(255, 250, 250, 0.5);
  border-radius: 25px;
}

main .accueil .accueil__description :nth-last-child(2) {
  margin: 0px auto 30px;
  font-size: 1.2rem;
}

main .accueil .accueil__description :nth-last-child(3) {
  margin: 0px auto 10px;
  font-size: 1.2rem;
}

main .accueil .accueil__description :nth-last-child(1) {
  font-size: 16px;
  font-weight: bold;
  color: #530101;
  margin: 0px auto 30px;
}

/*     fin du main     */
/*     début du footer     */
footer {
  background-color: lightgrey;
  margin-bottom: 0px;
  border-bottom: 5px solid black;
  text-align: center;
}

footer ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

footer ul li a:hover {
  color: black;
}

/*     fin du footer     */
@media (min-width: 320px) and (max-width: 768px) {
  header {
    margin: -10px auto;
  }
  header nav .container #logo {
    font-size: 24px;
  }
  header nav .container .links {
    padding: 20px 20px;
  }
  header nav .container .links a #menu-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
  }
  header nav .container .links ul {
    display: none;
    position: absolute;
    padding: 20px;
    background-color: rgba(255, 250, 250, 0.7);
    top: 76px;
    right: 0px;
    width: 100%;
  }
  header nav .container .links:hover ul {
    display: block;
  }
  header nav .container .links ul li {
    text-align: center;
    width: 100%;
    padding: 15px 0;
    margin: 0;
  }
  main .accueil {
    padding: 10px 10px;
  }
  main .accueil .intro__box .accueil__title {
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(255, 250, 250, 0.5);
    border-radius: 25px;
  }
  main .accueil .intro__box .accueil__description {
    font-size: 14px;
    background-color: rgba(255, 250, 250, 0.5);
    border-radius: 25px;
  }
  main .accueil .intro__box .accueil__description :nth-last-child(2) {
    margin: 0px auto 30px;
  }
  main .accueil .intro__box .accueil__description :nth-last-child(3) {
    margin: 0px auto 10px;
  }
  main .accueil .intro__box .accueil__description :nth-last-child(1) {
    font-size: 16px;
    font-weight: bold;
    color: #530101;
  }
  footer ul li {
    padding: 5px;
  }
  footer ul li a p {
    font-size: 10px;
    font-weight: bold;
  }
  footer ul .list-inline-item {
    margin: 0px;
  }
  footer ul .list-inline-item:not(:last-child) {
    margin-right: 0rem;
  }
  footer ul li .zoom {
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
  }
  footer ul li .zoom:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
/*# sourceMappingURL=style.css.map */